<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.FolderMapper">
    <insert id="createFolder">
        INSERT INTO folder (parentFolderId, folderName)
        VALUES (#{parentFolderId}, #{folderName})
    </insert>

    <update id="recycleFolder">
        UPDATE folder
        SET isRecycled = 1, recycledBy = #{userId}, recycledAt = NOW()
        WHERE folderId = #{folderId} AND parentFolderId = #{parentFolderId}
    </update>
</mapper>
